
/* Fontlar */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Universal kodlar */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    /* border: 2px solid red; */
}

button {
    padding: 15px;
    border-radius: 10px;
    border: none;
}

.progress {
    background-color: green;
    color: #fff;
}

.open {
    background-color: yellow;
    color: #000;
}

.hold {
    background-color: red;
    color: #fff;
}

/* Main qismi */

#main {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../image/banner-bg.jpg) center, no-repeat;
    height: 100vh;
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    background-attachment: fixed;
}


/* header qismi boshlandi */

#header {
    padding-top: 30px;
    /* border: 2px dashed blue; */
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #555; */
    /* border-radius: 0 15px 15px 0; */
}

#header .container .headerLogo h1 {
    color: brown;
}

#header .container .navbar ul li {
    display: inline;
}

#header .container .navbar ul li a {
    padding: 15px 30px;
    display: inline-block;
    /* background-color: lightgreen; */
    color: #fff;
    transition: 1s;
    font-size: 20px;
}

#header .container .navbar ul li a:hover {
    color: orange;
    /* background-color: blueviolet; */
    /* border-radius: 15px; */
}

#header .container .navbar ul li a:active {
    transform: scale(0.9);
}

#header .container .navbar ul li:last-child a {
    background-color: blueviolet;
    border-radius: 15px
}

#header .container .navbar ul li:last-child a:hover {
    background-color: aqua;
}


/* Main title boshlandi */

.mainTitle {
    margin-top: 40vh;
    font-size: 50px;
    letter-spacing: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
}


/* Products qismi boshlandi */

#products {
    padding: 100px 0;
}

#products .container .product_blog {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 50px;
    justify-content: center;
}

#products .container .product_blog .product_box .product_box_title {
    padding: 15px;
}

#products .container .product_blog .product_box .product_box_title h1 {
    text-align: center;
    color: blue;
    margin-bottom: 15px;
}

#products .container .product_blog .product_box .product_box_title p {
    text-align: center;
    color: #333;
}

#products .container .product_blog .product_box {
    /* border: 3px solid #555; */
    overflow: hidden;
    box-shadow: 0px 0px 20px #555;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
    transition: 0.7s;
}

#products .container .product_blog .product_box:hover {
    transform: scale(1.1);
    /* transform: translateY(-30px); */
}

#products .container .product_blog .product_box:hover img {
    transform: rotate(-3deg) scale(1.1);
}

#products .container .product_blog .product_box .product_box_img {
    overflow: hidden;
    /* text-align: center; */
}

#products .container .product_blog .product_box img {
    width: 300px;
    transition: 0.7s;
    /*  */
    /* border-radius: 50%; */
}


/* Tables qismi boshlandi */

#group_table {
    padding: 50px;
}

#group_table .container .headerTable {
    text-align: center;
    padding: 30px 0;
}

#group_table .container .headerTable h1 {
    font-family: 'Poppins';
    letter-spacing: 15px;
    color: brown;
}

#group_table .container table {
    width: 100%;
    /* text-align: center; */
    border-collapse: collapse;
}

#group_table .container table th,
#group_table .container table td {
    /* border: 1px solid #000; */
    padding: 20px;
    border-collapse: collapse;
}

#group_table .container table tr:nth-child(even) {
    background-color: #999;
}

#group_table .container table tr:nth-child(odd) {
    background-color: bisque;
}

#group_table .container table td:hover {
    background-color: #555;
    color: #fff;
}

#group_table .container table tr:hover {
    background-color: aquamarine;
}


/* Contact section start */

#contact {
    padding-top: 100px;
    padding-bottom: 50px;
    background-image: conic-gradient(red, yellow, green);
}

#contact .container .contactHeader {
    margin-bottom: 70px;
    text-align: center;
}

#contact .container .contactHeader h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 96px;
    align-items: center;
    text-transform: uppercase;
    color: #7C4032;
}

#contact .container .contactForm {
    display: flex;
    max-width: 788px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

#contact .container .contactForm .contactCustomInfo input {
    background: #E6AF99;
    border-radius: 61px;
    display: block;
    width: 374px;
    height: 56px;
    border: none;
    margin-bottom: 14px;
}

#contact .container .contactForm .contactCustomInfo .contactButton {
    text-align: center;
}

#contact .container .contactForm .contactCustomInfo .contactButton button {
    border: 3px solid #7C4032;
    border-radius: 61px;
    width: 168px;
    height: 56px;
    cursor: pointer;
    background-color: transparent;
}

#contact .container .contactForm .contactUsInfo .contactInfo a {
    margin-bottom: 37px;
    display: flex;
}

#contact .container .contactForm .contactUsInfo .contactInfo a img {
    margin-right: 22px;
}

#contact .container .contactForm .contactUsInfo .contactInfo a p {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}


/* Footer qismi */

footer {
    height: 200px;
    background-color: #555;
}
